{% extends "base.html" %}
{% set current_user = 'Admin' %}
{% block content %}
    <div class="row">

        <!-- Sidebar -->
        {% set current_page = "users" %}
        {% include "Admin_templates/components/admin_menu.html" %}

        <!-- Main Content -->
        <div class="col-md-10">

            <h3 class="mb-4">Registered Users</h3>

            <div class="mb-3">
                <select class="form-select" name="status" onchange="showStaffDetails()">
                    <option selected value = 0>Active</option>
                    <option value="1">Blacklisted</option>
                </select>
            </div>

            <div id="staffRequestTabsContent">

                <!-- Active -->
                <div id="active" style="display: block;">                  
                    <div class="card border-0 shadow-sm rounded-3">
                        <div class="card-body pt-3">

                            <table class="table table-hover align-middle mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Contact</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {%for u in u_data %}
                                    {% if u.status == 0 %}
                                        <tr>
                                            <td>{{u.name}}</td>
                                            <td>{{u.user_back.email}}</td>
                                            <td>{{u.phone_number}}</td>
                                            <td>
                                                <a href="/reject?user_id={{ u.user_id }}"
                                                class="btn btn-danger btn-sm">
                                                    Deactivate
                                                </a>
                                            </td>
                                        
                                        </tr>
                                    {% endif %}
                                    {%endfor%}

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


                <!-- Blacklisted -->
                <div id="blacklisted" style="display: none;">
                    <div class="card border-0 shadow-sm rounded-3">
                        <div class="card-body pt-3">

                            <table class="table table-hover align-middle mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Contact</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {%for u in u_data %}
                                    {% if u.status == 1 %}
                                        <tr>
                                            <td>{{u.name}}</td>
                                            <td>{{u.user_back.email}}</td>
                                            <td>{{u.phone_number}}</td>
                                            <td><a href="/approve_user?user_id={{u.user_id}}" class="btn btn-success btn-sm" >Re-activate</a></td>
                                            
                                        </tr>
                                    {% endif %}
                                    {%endfor%}
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script>
        function showStaffDetails() {
            const status = document.getElementsByName("status")[0];
            const active = document.getElementById("active");
            const blacklisted = document.getElementById("blacklisted");

            if (status.value === "1") {
                active.style.display = "none";
                blacklisted.style.display = "block";
            } else {
                active.style.display = "block";
                blacklisted.style.display = "none";
            }
        }
    </script>

{% endblock %}