{% extends "base.html" %}
{% set current_user = 'Admin' %}
{% block content %}

<div class="row">

    <!-- Sidebar -->
    {% set current_page = 'treks' %}
    {% include "Admin_templates/components/admin_menu.html" %}

    <!-- Main Content -->
    <div class="col-md-10">

        <h3 class="mb-4">Add New Trek</h3>

        <div class="card border-0 shadow-sm rounded-3">
            <div class="card-body p-4">

                <form method="POST" action="/add_trek">

                    <div class="row">

                        <!-- Left Col -->
                        <div class="col-md-6">

                            <div class="mb-3">
                                <label class="form-label">Trek Name</label>
                                <input type="text" class="form-control" name="trek_name" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Location</label>
                                <input type="text" class="form-control" name="location" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Difficulty</label>
                                <select class="form-select" name="difficulty" required>
                                    <option selected disabled>Select Difficulty</option>
                                    <option value = "E">Easy</option>
                                    <option value = "M">Moderate</option>
                                    <option value = "H">Hard</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Duration (Days)</label>
                                <input type="number" class="form-control" name="duration" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Total Slots</label>
                                <input type="number" class="form-control" name="total_slots" required>
                            </div>

                        </div>

                        <!-- RColumn -->
                        <div class="col-md-6">

                            <div class="mb-3">
                                <label class="form-label">Start Date</label>
                                <input type="date" class="form-control" name="start_date" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">End Date</label>
                                <input type="date" class="form-control" name="end_date" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Assign Staff</label>
                                <select class="form-select" name="assigned_staff" required>
                                    <option selected disabled>Select Staff</option>
                                    {% for staff in staffs %}
                                    {% if staff.status == 1 %}
                                        <option value="{{ staff.staff_id }}">{{ staff.name }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Status</label>
                                <select class="form-select" name="status">
                                    <option selected disabled>Select Status</option>
                                    <option value = '1'>Open</option>
                                    <option value = '0'>Closed</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <textarea class="form-control" rows="3" name="description"></textarea>
                            </div>

                        </div>

                    </div>

                    <div class="text-end mt-3">
                        <input type="reset" class="btn btn-secondary" value="Reset">
                        <a href="{{ url_for('admin_manage_treks') }}" class="btn btn-danger">Cancel</a>
                        <input type="submit" class="btn btn-primary" value="Add Trek">
                    </div>

                </form>

            </div>
        </div>

    </div>

</div>

{% endblock %}